{% load staticfiles %}
{% load sass_tags %}
<!DOCTYPE html>
<html class="{% block html_class %}{% endblock html_class %}" lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Allows you to inject head elements here -->
      {% block head %}
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="author" content="">
      <meta name="description" content="">
      <meta name="keywords" content="">

      <title>{% block head_title %}{% endblock head_title %}</title>

      <!-- Allows you to inject CSS here -->
      <link href="{% sass_src 'style/scss/main.scss' %}" rel="stylesheet" type="text/css" />
      {% block stylesheets %}
      <!-- Project specific Stylesheets -->
      {% endblock stylesheets %}

      <!-- Title Icon -->
      <!-- <link rel="shortcut icon" href=""> -->

      {% endblock head %}

  </head>
  <body class="{% block body_class %}{% endblock body_class %}">

    <div id="page">
        <header id="header">
            <!-- Navbar Start Here -->
            {% include "layouts/navbar.html" %}
            <!-- Navbar End Here -->

            {% block header %}
            {% endblock header %}
        </header>

        <div id="page-content">
            <!-- Allows you to inject body content here -->
            {% block body %}
            {% endblock body %}
        </div>

        <footer id="footer">
            {% block footer %}
            {% endblock footer %}

            <!-- Footer Start Here -->
            {% include "layouts/footer.html" %}
            <!-- Footer End Here -->
        </footer>
    </div>

    <!-- Project specific JavaScript -->
    <!-- Allows you to inject JavaScript here -->
    {% block javascript %}
    {% endblock javascript %}

    <!-- Google Analytics goes here -->
    {% block google_analytics %}
    {% endblock google_analytics %}
  </body>
</html>
